.container {
  max-width: 600px;
  margin: auto;
}

.successMsg {
  margin-top: 1rem;
}

.errorMsg {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 600px;
  }
}
